body{
    margin: 0;
    padding: 0;
    font-family: arial,helvetica,sans-serif;
}
#header{
    background-color: #3B5998;
    
    height: 90px;
    width: 100%;
    
}
#content{
    background-image: -webkit-linear-gradient(#FFFFFF,#DBDFEC);
    height: 700px;
    width: 100%;
 
}
#footer{
    background-color: #FFFFFF;
    height: 120px;
    width: 100%;
    
}
.inner-space{
    width: 50%;
   float: left;
}
#fb-logo{
    height: 60px;
    width: 220px;
    margin-top: 25px;
    margin-left: 380px;
}
.col{
    border: 0.5px solid black;
    height: 20px;
}
.logText{
    color: aliceblue;
    font-weight: bold;
    font-size: 13px;
}
.logText2{
    font-weight: bold;
    font-size: 13px;
    color: #9cb4d8;
}
.logText2 a{
    font-size: 13px;
    color: #9cb4d8;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#buttonId{
    background-color: #4B66A0;
    color: #ffffff;
    border: 1px solid #29487d;
    border-radius: 2px;
    font-size: 15px;
    padding: 0px 6px 0px 6px;
    cursor: pointer;
    font-family:  arial;
    padding: 2px 6px;
}
#logdetail{
    margin-left: 380px;
    margin-top: 10px;
}
.mid-space{
    float: left;
    width: 50%;
}
#form{
    margin-left: 100px;
    margin-top: 30px;
}
#create-text{
    font-weight: bold;
    font-size: 36px;
    color: #333;
}
#create-text2{
    margin-top: 20px;
    font-size: 20;
}
.name{
    margin-top: 15px;
    width: 50%;
    float: left;
}
.fname{
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}
#sname{
    margin-left: -180px;
}
.left-content{
    margin-left: 380px;
    margin-top: 50px;
}
#left-text{
    font-size: 20px;
    font-weight: bold;
    font-family: Segoe UI;
    color: #0E385F;
}
#email-text{
    width: 468px;
    text-align: justify;
    margin-top: 10px;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}
#pwd-text{
    width: 468px;
    text-align: justify;
    margin-top: 10px;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}
.birth-text{
    margin-top: 10px;
}
#btext{
    font-size: 18px;
    font-weight: bold;
    color: #999999;
}
#birth{
    margin-top: 5px;
}
select{  
    height: 30px;
}
#gender{
    margin-top: 5px;
}
#para{
    width: 400px;;
    margin-top: 30px;
    color:#999999;
    font-size: 14px;
}
#crtpage{
    width: 400px;;
    margin-top: 30px;
    color:#999999;
    font-size: 18px;
    font-weight: bold;
}
#crtpage a{
    text-decoration: none;
    width: 400px;;
    margin-top: 30px;
    color:#3B5998;
    font-size: 18px;
    font-weight: bold;
}
#sub{
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    color: aliceblue;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 45px;
    text-shadow: 0 1px 2px black;
    box-shadow: inset 0 1px 2px #a4e388;
    background:-webkit-linear-gradient(#67AE55,#578843);
}
#lang-text a{
    text-decoration: none;
    color: #3B5998;
    display: inline;
    margin-right: 16px;
}
#lang-text a:hover{
    text-decoration: underline;
    color: #3B5998;
    display: inline;
    margin-right: 16px;
}
#footer-text{
    margin-left: 150px;
}
#lang-text a:active{
    text-decoration: none;
    color: #999999;
    display: inline;
    margin-right: 16px;
}
#lang-text li{
    font-size: 12px;
    float: left;
}
hr{
    color: darkgray;
    margin-left: 36px;
    width: 800px;
    float:left;
}
.opt{
    width: 800px;
}
.opt li{
    margin-bottom: 5px;
}
#fb{
    margin-left: 190px;
    font-size: 12px;
    color: darkgray;
}